<nav class="topnav navbar navbar-expand justify-content-between justify-content-sm-start "
  id="sidenavAccordion">
  <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
    <i data-feather="menu"></i>
  </button>
  <a class="navbar-brand" href="index.html">Hogwarts School</a>
  <ul *ngIf="user" class="navbar-nav align-items-center ms-auto">
    <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
      <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
        href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><img class="img-fluid" [src]="user.avatar" /></a>
      <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
        aria-labelledby="navbarDropdownUserImage">
        <h6 class="dropdown-header d-flex align-items-center">
          <img class="dropdown-user-img" [src]="user.avatar" />
          <div class="dropdown-user-details">
            <div class="dropdown-user-details-name">{{ user.fullName }}</div>
            <div class="dropdown-user-details-email">{{ user.email }}</div>
          </div>
        </h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <div class="dropdown-item-icon"><i class="fas fa-sign-out-alt"></i></div>
          Cerrar sesión
        </a>
      </div>
    </li>
  </ul>
</nav>
