<main class="loginback">
  <header
    class="page-header mb-4">
    <div class="container">
      <div class="page-header-content pt-4">
        <h1 class="page-header-title">Hogwarts</h1>
        <div class="page-header-subtitle">Colegio de magia y hechicería</div>
      </div>
    </div>
  </header>
  <div class="container-xl px-4">
    <div class="card">
      <div class="card-header">Nuevos cursos!</div>
      <div class="card-group">
        <div class="card">
          <img src="http://potterheadrol.weebly.com/uploads/5/4/6/2/54621789/adivinacion_1_orig.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Adivinación</h5>
            <p class="card-text"> Enseña métodos para adivinar el futuro, o recopilar información sobre eventos futuros, a través de varios rituales e instrumentos.</p>
            
          </div>
        </div>
        <div class="card">
          <img src="https://img.wattpad.com/26fc2dd4e0144178e254d1b34f5131aac03d583c/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6b6f78496d6e49367a4e597454673d3d2d3239343632383732302e313534333430396661333433666638643935373035383731323335392e6a7067?s=fit&w=720&h=720" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Runas antiguas</h5>
            <p class="card-text">El Estudio de Runas Antiguas es un curso electivo en el Colegio Hogwarts de Magia y Hechicería. Puede ser tomada por los estudiantes de tercer año en adelante.</p>
            
          </div>
        </div>
        <div class="card">
          <img src="https://earlygame.com/uploads/images/_body/Creatures-and-Beasts-in-Hogwarts-Legacy.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cuidado de criaturas mágicas</h5>
            <p class="card-text">los estudiantes aprenden acerca de una amplia gama de criaturas mágicas, desde salamandras y escregutos de cola explosiva, hasta unicornios y thestrals.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
